.signlogo img {
    width: 250px;
    height: 150px;
    /* float: left; */
}

.signlogo p {
    /* float: left; */
    margin-top: 50px;
    /* padding-top: 50px; */
    font-size: 40px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.signlogo {
    text-align: center;
}