.nameSet {
    width: 90%;
}

.createGroup {

    input,
    textarea {
        background: #EEEEEE;
        border: none;
    }

    .group-custom-align {
        width: 41%;
        margin: 0 auto;
        margin-top:5px;
    }
    .multicheck{
        text-align: left;
    }
}
.round-icon {
    text-align:center;
}
.compswitch{
    padding-top: 20px;
}
.stepone{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
    width: 35px;
    height: 35px;
    //background-color: aqua;
}
.steprow{
    margin-bottom: 10px;
}
.btncancel, .btnsave{
    margin-left: 20px;
}

.hide{
    display: none;
}

label {
    display: inline-block;
    color: #004d87;
    font-weight: 800;
}
.remBtn{
    margin-top: 10px;
    //margin-left: 460px;
    margin-left: 360px;
}
.invalid-feedback {
    color: #ff0019;
    font-size: 15px;
}
.ptext {
    font-weight: 900;
}
.gname {
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 5px;
}
.chn{
    //font-weight: 900;
    width: auto;
}
.alertbutton{
    padding-bottom: 10px;
}
.btnbtn {
    //background: #1476B0;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    margin-left: 20px;
}
// .lefali{
//     margin-left: 80px;
//     padding: 0;
//     text-align: left;
// }
.modal-content{
    width: 80% !important;
    margin-left: 80px !important;
}
.alertparatxt{
    font-weight: 900;
    font-size: 1.6rem;
    padding-top: 0px !important;
}
.conf{
    font-weight: 900;
    width: auto;
}
.btncs{
    margin-left: -85px;
}

//disable the corner div style!!
.input-group.court.assignGrp > .form-control.textbox,
.input-group.court.assignGrp > .fa {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.invalid-feedback{
    color: red;
}
.update{
    color: #004d87;
    font-weight: 900;
    font-size: 1.3rem;
    margin-bottom: 15px;
    margin-top: 10px;
}
.compone{
    font-weight: 900 !important;
}
.btnsave:disabled {
    opacity: 0.5;
    color: white;
    background: #004D87;
    pointer-events: none;
}