.nameSet {
    width: 90%;
}

.createGroup {

    input,
    textarea {
        background: #EEEEEE;
        border: none;
    }

    .group-custom-align {
        width: 41%;
        margin: 0 auto;
        margin-top:5px;
    }
    .multicheck{
        text-align: left;
    }
}
.round-icon {
    text-align:center;
}
.compswitch{
    padding-top: 20px;
}
.stepone{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
    width: 35px;
    height: 35px;
    //background-color: aqua;
}
.steprow{
    margin-bottom: 10px;
}
.btncancel, .btnsave{
    margin-left: 20px;
}

.hide{
    display: none;
}

label {
    display: inline-block;
    color: #004d87;
    font-weight: 800;
}
.remBtn{
    margin-top: 10px;
    margin-left: 460px;
}
.invalid-feedback {
    color: #ff0019;
    font-size: 15px;
}
.ptext {
    font-weight: 900;
}
.gname {
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 5px;
}