// component css goes here
// component css goes here
.watermark,
.watermark-left {
    // margin: 40px;
    margin: 10px;
}

.watermark {
    border: 1px solid #eee;
    min-height: 500px;

    iframe {
        height: 500px;
    }
}

.tags {
    display: inline-flex;
    width: 90%;

    .tags-width {
        width: 50%;

        .btn {
            float: right;
        }
    }
}

.form-group.name-set {
    margin: 0;
}

.btn-browse {
    width: 150px;
    background: #004D87
}

.fa-times-circle-o {
    margin-top: 80%;

    &:before {

        font-size: 30px;
        color: red;
    }
}

hr {
    border-bottom: dashed;
    width: 90%;
}

.row .fa::before {
    font-size: 25px;
    color: red;
}

.cross-close {
    position: relative;
    top: 33%;
}

.btnAdd {
    background: #004D87;
    color: white;
}

.markX {
    color: red;
    margin-top: 73px;
}

.btnAdd {
    background: #004D87;
    color: white;
}

.disabled {
    background: #a0bbd0;
    color: #fff;
}

.alertext {
    font-weight: 900;
}

.alertbtn {
    width: 55px;
    margin-right: 18px;
}

.alertbutton {
    margin-bottom: 20px;
}

.okbtn {
    background-color: #004D87;
}

.docview {
    color: #004D87;
    font-weight: 900;
    font-size: 1rem;
    margin-left: 11px;
    margin-top: 12px;
    margin-bottom: -5px;
}

.btn.btnsave:disabled {
    background-color: #004d8773;
    color: white;
    opacity: 1;
    cursor: not-allowed;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
