.test .row{
    margin: 0 !important;
    width: 100%;
}

.monthitem{
    width: 0px;
}

.gb{
    padding-left: 4px;
}

.rytcentNotify{
    padding-top: 20px;
    font-weight: 600;
}

.card {
    cursor: pointer;
}
.cards {
    position: relative;
    position: absolute;
}

.tops {
    margin-top: 37.8px;
}

.notifyhour {
    font-size: 20px;
    padding-top: 20px;
    margin-left: 0px;
    z-index: 9999999;
    width: auto;
}
.newmat{
    margin-top: 7px;
}
.getD{
    margin-top: 2.5px;
}
.getMove{
    width: 19%;
}
.yoyo{
    padding-top: 15px;
    margin-right: -10px;
}
.point{
    cursor: pointer;
}
.prodlog{
    width: 70px;
}
.vertlg{
    margin-top: 8px !important;
    margin-left: 80px !important;
    //height: 35px !important;
}
.mattertxt{
    font-size: 1.5vw !important;
}
.savecls{
    color: white;
    background: #004D87;
    padding-bottom: 3px;
}