.test .row{
    margin: 0 !important;
    width: 100%;
}

.monthitem{
    width: 0px;
}

.gb{
    padding-left: 4px;
}

.rytcentNotify{
    padding-top: 20px;
    font-weight: 600;
}

.card {
    cursor: pointer;
}
.cards {
    position: relative;
    position: absolute;
}

.tops {
    margin-top: 37.8px;
}

.notifyhour {
    font-size: 20px;
    padding-top: 20px;
    margin-left: 0px;
    z-index: 9999999;
    width: auto;
}
.newmat{
    margin-top: 7px;
}
.getD{
    margin-top: 2.5px;
}
.getMove{
    width: 19%;
}
.yoyo{
    padding-top: 15px;
    margin-right: -10px;
}
.point{
    cursor: pointer;
}
.prodlog{
    width: 70px;
}
.vertlg{
    margin-top: 8px !important;
    margin-left: 80px !important;
    //height: 35px !important;
}
.mattertxt{
    font-size: 1.5vw !important;
}
.savecls{
    color: white;
    background: #004D87;
    padding-bottom: 3px;
}
.newclients{
    color: #00b3a7;
    font-size: 2.2vw;
    font-weight: 700;
}
.newhires{
    color: #00b3a7;
    font-size: 2.2vw;
    font-weight: 700;
}
.closedverticalo{
    height: 5.4vw;
}
.closedverticalcorp{
    height: 3.4vw;
    margin-top: 50px;
}
.mattertxtall{
    font-size: 1.2vw;
    color: #000;
    font-weight: 700;
}
.meetlog{
    font-size: 1.4vw;
    font-weight: 900;
    color: #00B3A7;
    margin-top: -15px;
}
.notiflog{
    font-size: 1.3vw;
    font-weight: 900;
    color: #00B3A7;
}
.verticaltotalnot{
    margin-top: 30px;
    height: 45px;
    margin-left: 15px;
}
.relgh{
    width: 75px;
    margin-top: -3px;
    margin-left: -10px;
}
.relmove{
    margin-top: -15px;
}
.vrg{
    margin-top: -10px; 
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .relgh{
        width: 50px;
        margin-top: -5px;
        margin-left: -5px;
    }
}