.containerbox {
    width: 100%;
}

.infocontainerleft {
    height: 97%;
    width: 36px;
    min-height: 933px;
    background: #c9c9c9;
    opacity: 1;
    margin-bottom: 20px;
    margin-top: -73px;
    margin-left: -27px;
    display: inline-block;
}

@media screen and (min-width: 1280px) {
    .infocontainerleft {
        margin-left: -18px;
    }
}

@media screen and (min-width: 3840px) {
    .infocontainerleft {
        margin-left: -20px;
    }
}

.docName {
    color: transparent; //insteadOf- color: #00498E;
    font-size: 23px;
    font-weight: 800;
    margin-left: 15px;
    margin-top: 10px;
}

.createDoc {
    // background: #EEEEEE;
    // border: none;
    border-radius: 10px;
    border: 1px solid #CED4DA;
    background: #EEE;
    width: 90%;
    height: 46px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 15px;
}

.orderMain,
.unorderMain {
    // background: #EEEEEE;
    // border: none;
    border-radius: 10px;
    border: 1px solid #CED4DA;
    background: #EEE;
    width: 90%;
    height: 46px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 15px;
}

.lableTitle {
    color: #212529;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 15px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    overflow: hidden;
}

.text-size {
    font-size: 17px !important;
}

.menuBtn1 {
    float: right;
    background: #EEEEEE;
    margin: 20px;
    margin-top: -40px;
    margin-right: 99px;
    border: none;
    width: 60px;
    height: 30px;
    // font-weight: 900;
    // font-size: 20px;
    font-weight: 600;
    //font-size: 18px;
    border-radius: 3px;
    padding: 3px;
}

.menuBtn2 {
    float: right;
    background: #EEEEEE;
    margin: 20px;
    margin-top: -50px;
    margin-right: 25px;
    border: none;
    width: 70px;
    height: 30px;
    // font-weight: 900;
    // font-size: 20px;
    font-weight: 600;
    //font-size: 18px;
    border-radius: 3px;
    padding: 3px;
}

.downA {
    width: 10px;
}

::ng-deep .matFile {
    // width: 130px;
    // height: 150px;
}

::ng-deep .mat-menu-item {
    max-height: 300px;
    overflow: scroll;
}

/* Hide scrollbar*/
::ng-deep .matFile::-webkit-scrollbar {
    display: none;
    /*Chrome, Safari and Opera*/
}

::ng-deep .matFile {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::ng-deep .matInsert {
    //height: 150px;
}

.fileImg {
    width: 26px;
    height: 25px;
}
.saveasImg{
    width: 29px;
    height: 32px;
    margin-left: -1px;
}
.imgView {
    width: 30px;
    height: 26px;
}
.imgsubView {
    width: 35px;
    height: 35px;
    margin-left: -4px;
}
.imgsubsubView {
    width: 40px;
    height: 40px;
    margin-left: -6px;
}

.imgPort {
    width: 40px;
    height: 36px;
    margin-left: -5px;
}
.imgImg{
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-top: -2px;
}
.imgoverView {
    width: 35px;
    height: 28px;
    margin-left: -5px;
}

.imgsecView {
    width: 23px;
    height: 28px;
}

.textareaDoc {
    border-radius: 10px;
    border: 1px solid #CED4DA;
    background: #EEE;
    width: 90%;
    //height: 85px;
    font-weight: 600;
    font-size: 22px;
    margin-left: 15px;
}

.close {
    float: right;
    border: none;
    //width: 60px;
    height: 30px;
    font-weight: 900;
    font-size: 22px;
    border-radius: 3px;
    padding: 3px;
    margin-right: 50px;
    margin-top: -32px;
}

// .closePlus {
//     float: right;
//     border: none;
//     cursor: pointer;
//     width: 45px;
//     height: 27px;
//     font-size: 25px;
//     font-weight: 900;
//     padding: 3px; //remove this for buttonStyle
//     border-radius: 3px;
//     top: -10px;
//     margin-right: 116px;
//     margin-top:-1px;
//     // margin-right: 90px;
//     // margin-top: -41px;
// }
.closePlus {
    //float: right;
    border: none;
    color: #00498E;
    cursor: pointer;
    width: 45px;
    height: 27px;
    font-size: 25px;
    font-weight: 500;
    padding: 3px;
    border-radius: 3px;
    top: -10px;
    margin-right: -14px;
    margin-bottom: -6px;
    margin-top: 1px;
}

.expand {
    float: right;
    padding: 3px;
    // margin-bottom: -30px;
    // margin-right: 80px;
    margin-right: 85px;
    margin-bottom: -27px;
    cursor: pointer;
}

//Styles for Dialog..

.overviewText {
    float: left;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
}

.overedText {
    font-size: 27px;
    margin-left: 17px;
    margin-top: -10px;
    font-weight: 900;
    color: #004d87;
}

.openText {
    font-size: 27px;
    //margin-left: -1px;
    margin-left: 175px;
    margin-top: -10px;
    font-weight: 900;
    color: #004d87;
}

.closeDialog {
    float: right;
    //margin-top: -82px;
    //padding: 20px;
}

// .xClose{
//     margin-right: 100px;
//     margin-top: 30px;
// }

.xClose {
    font-size: 20px;
    margin-left: -22px;
}

.closeBtn {
    // margin-right: 100px;
    //margin-top: 50px;
    font-size: 20px;
}

.overviewDialog {
    padding: 10px;
    margin-left: 10px;
}

.overviewSave {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.overviewTitle {
    border: none;
    //width: 320px;
    //width: 330px;
    width: 220px;
    outline: none;
    color: #212529;
    //font-size: 18px;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: transparent;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    height: 23px;
    //margin-bottom: -6px;
}

//firefox
@-moz-document url-prefix() {
    .overviewTitle {
        margin-bottom: 1px !important;
    }
}

//chrome
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .overviewTitle {
        margin-bottom: -6px;
    }
}

//  .overviewTitle{
//     display: inline-block;
//     //width: 300px;
//     white-space: nowrap;
//     overflow: hidden !important;
//     text-overflow: ellipsis;
//  }


//For 1024 screen view
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .close {
        //margin-top: -60px;
        //margin-right: -15px;
        margin-right: 50px;
    }

    .delIcon {
        font-size: 18px;
        margin-top: -33px;
        //margin-right: -28px;
        margin-right: -40px;
    }

    .createDoc {
        width: 85%;
    }

    .expand {
        float: right;
        padding: 3px;
        margin-top: -1px;
        //margin-right: 50px;
        cursor: pointer;
    }

    .closePlus {
        // margin-right: 52px;
    }

    .overviewTitle {
        font-size: 15px;
        //width: auto;
        width: 165px;
        height: 20px;
    }
}

//For tablet view
@media only screen and (min-width: 400px) and (max-width: 768px) {
    .overviewTitle {
        font-size: 14px;
        width: 40px;
    }
}

.overRoll {
    height: 933px;
    overflow-x: hidden;
    overflow-y: auto;
}

textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
}

.subsec {
    margin-left: 17px;
}

.subsubsec {
    margin-left: 35px;
}

.addBtn {
    width: 25px;
    margin-left: 15px;
    margin-bottom: -20px;
    height: 20px;
    cursor: pointer;
}

.addMore {
    font-size: 1.2rem;
    color: #004d87;
    margin-top: -13px;
    margin-left: 48px;
    font-weight: 900;
}

.oderAlign {
    margin-bottom: 10px;
}

.oderAlign1,
.oderAlign2 {
    margin-bottom: 10px;
}

.orderTextbox {
    margin-bottom: 35px;
}

.listRoll {
    //overflow-y: auto;
}

.delIcon {
    float: right;
    border: none;
    cursor: pointer;
    // width: 60px;
    // height: 30px;
    font-weight: 900;
    font-size: 20px;
    border-radius: 3px;
    margin-top: -36px;
    //margin-right: -18px;
    margin-right: 30px;
}

.preview {
    color: #00498E;
    font-size: 23px;
    font-weight: 800;
    margin-left: 35px;
    margin-top: 10px;

    // height: 43px;
    // padding: 9px;
    // background: #004D87 0% 0% no-repeat padding-box;
    // border-radius: 5px;
    // opacity: 1;
    // width: 100px;
    // border: none;
    // box-shadow: none;
    // outline: none;
    // font-size: 20px;
    // font-weight: bold;
    // color: #fff;
    // margin-left: 25px;
}

.layout {
    color: #00498E;
    font-size: 23px;
    font-weight: 800;
    padding-top: 20px;
}

.eyeco {
    margin-top: -46px;
    cursor: pointer;
    float: right;
    height: 25px;
    width: 35px;
}

// .page-break {
//     // width: 100%;
//     // box-sizing: border-box;
//     width: 95%;
//     box-sizing: border-box;
//     margin-left: 8px;
// }
.page-break {
    width: 95%;
    box-sizing: border-box;
    margin-left: 8px;
    position: relative;
}

.page-break::after {
    content: "NEW PAGE";
    color: #838383;
    position: absolute;
    //top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* Ensure background matches page */
    padding: 8px;
    /* Adjust padding as needed */
    //border: 1px dashed black; /* Adjust border style as needed */
}

@media print {
    .page-break {
        page-break-after: always;
    }
}

.iframeStyle {
    // //background-color: rgb(217, 242, 250);
    // width: 100%;
    // height: 100%;
    // margin-top: -920px;
    // margin-left: 18.5px;
    // // position: relative;
    // // position: absolute;
    width: 97%;
    height: 93.5%;
    margin-top: -920px;
    margin-left: 18.5px;
    background: #EEEEEE;
    border-radius: 5px;
    border: 1px solid black;
}

// these styles are only for safari browser!!!
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {

        .menuBtn1,
        .menuBtn2 {
            background: #EFEFEF;
        }

        .menuBtn2 {
            width: 73px;
            margin-right: 21px;
        }

        .iframeStyle {
            margin-top: -900px;
        }
    }
}

.headStyle {
    font-size: 20px;
}

.hoverDoc {
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    //color: #00498E;
}

.hoverTime {
    cursor: pointer;
    font-weight: 600;
    //margin-left: 30px;
    margin-left: 38px;
    font-size: 13px;
    margin-top: -13px;
}

// .hoverDoc:hover,
// .hoverDoc.active {
//     //background: #00B3A7;
//     color: #00B3A7;
//     font-size: 100;
// }

.hoverDoc:hover,
.hoverDoc.active {
    background: #00498E;
    color: #EEEEEE;
    font-size: 100;
}

.contBox {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 90%;
    //width: 90%;
    width: 98%;
    //margin-left: 10px;
}

.innerCont {
    //width: 120%;
    height: 100%;
}

.sortico {
    cursor: pointer;
    width: 25px;
    //margin-top: 0px;
}

.ico {
    font-size: 25px;
    // margin-top: 8px;
    // margin-left: 8px;
    margin-top: 10px;
    margin-left: 15px;
}

.backdropBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
}

.errorStyle {
    color: #FF5722;
    font-size: 16px;
    font-weight: 500;
    margin-left: 18px;
}

.upPad {
    //margin-top: -20px;
}

.padDown {
    padding-bottom: -20px;
}

.secclose {
    margin-top: 0px;
}

.iOd {
    color: #00498E;
    padding: 1px;
}

// .pluslist {
//     color: #00498E;
//     font-weight: 900;
//     width: 105px;
//     font-size: 1.1rem;
//     margin-left: 7px;
//     cursor: pointer;
// }

.pluslist {
    color: #00498E;
    font-weight: 900;
    //width: 105px;
    width: 110px;
    height: 50px;
    font-size: 1.1rem;
    // margin-left: 7px;
    margin-left: 1px;
    cursor: pointer;
}

.addBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.backdropBackground {
    filter: blur(20px);
    background-color: #aba1a1;
    opacity: 0.7 !important;
}

.hello {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.5);
}

//Invoice style for header::

.arrowitem .fa {
    background: #00498e;
    color: #fff;
    padding: 10px;
}

.headertop {
    height: 190px;
}

.custom-alert {
    margin: 0 auto;
    width: 50%;
    height: 41px;
    line-height: 40px;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    color: #ff0000;
    font-size: 20px;
}

.formName {
    //height: 50px;
    //width: 250px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    //padding: 15px;
}

.texted {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.trSpc {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.padded {
    padding: 10px;
    padding-right: 120px;
}

.diaPad {
    padding: 30px;
}

.bgPad {
    background: #004D87;
}

.btnsave {
    //width: auto;
    height: 43px;
    background: #004d87 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    border: none !important;
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

// .fixedBtn {
//     position: fixed;
//     bottom: 270px;
//     margin-left: -120px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }

.bbtn {
    width: 140px;
}

.alertexted {
    width: auto;
    //height: 120px;
    margin: auto;
    text-align: center;
}

.txt {
    font-size: 1.4rem;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.textboxed {
    width: 340px;
}

.sharewith {
    position: relative;
    float: center;
    font-size: 25px;
    font-weight: 900;

}

::placeholder {
    color: #727272;
    opacity: 1;
    /* Firefox */
}

.pageRegion {
    width: auto;
    color: #00498E;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 900;
}

.rename {
    font-weight: bolder;
    margin-left: 17px;
    font-size: 1.2rem;
}

.listScroll {
    overflow-y: scroll;
    height: 160px;
    resize: none;
}

table td {
    white-space: nowrap;
    //border: 2px solid #eeeeee;
}

.tbclass {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.opentr:hover {
    background-color: #004D87;
    color: whitesmoke;
}

.tabclass {
    white-space: nowrap;
    border: 2px solid #eeeeee;
}

::ng-deep mat-menu {
    overflow: hidden !important;
}

.ovtextarea {
    height: 225px;
    width: 526px;
}

.list-container {
    height: 185px;
    overflow: auto;
}

.savefilenameBtn {
    //margin-top: 50px;
    margin-left: 150px;
    position: fixed;
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
}

.savefile {
    margin-left: 210px;
}

.savecreate {
    margin-top: 20px;
}

.textCount {
    width: 30px;
    margin-left: 18px;
}

.hypendot {
    color: black;
    font-size: 25px;
}

.pbClass {
    border: none;
    outline: none;
    color: #878787;
    width: 90%;
    //font-size: 22px;
    margin-left: 15px;
}

.pbDiv {
    width: 100%;
    padding-bottom: 10px;
}

.holiMove {
    margin-left: 55px;
}

.pushBtn {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.colab {
    border: 10px solid #fff;
    width: 95%;
    height: 100%;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 11px;
    position: relative;
    display: block;
    margin-left: 7px;
}

.textNotes {
    font-size: 1rem;
    word-wrap: break-word;
}

.readmore {
    cursor: pointer;
    //color: #00498E;
    color: #0f62b1;
    font-size: 18px;
    font-weight: bolder;
}

.alertbtnno,
.alertbtnyes {
    width: 30%;
    height: auto;
    margin-left: 20px;
}

.alertparatxt {
    padding-top: 0px;
}

.iconclose {
    font-size: 1.4rem;
    padding-right: 10px;
}

hr {
    margin-top: -2px;
    padding: 5px;
    color: #9f9d9df2;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .savefilenameBtn {
        //margin-top: 40px;
        margin-left: 92px;
        position: fixed;
        position: absolute;
        margin-bottom: 20px;
        bottom: 0;
    }

    .btnsave {
        //width: auto;
        //margin-left: -10px;
    }

    .colab {
        margin-left: 4px;
    }

    .page-break {
        width: 93%;
    }
}

//only for safri browser
@media not all and (min-resolution: 0.001dpcm) {

    // .pluslist {
    //     width: 200px;
    //     margin-left: -35px;
    // }
    .addBtn {
        width: 120px;
    }
}

/* General styles for all large screens */
@media screen and (min-width: 1200px) {
    .addBtn {
        width: 120px;
    }
}

/* Styles specific to Safari on MacBook */
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio:0) {
    .addBtn {
        width: 120px;
    }
}

/* For 1024x640 resolution */
@media screen and (min-width: 1024px) and (min-height: 640px) {
    .delIcon {
        //font-size: 20px;
        margin-top: -36px;
        margin-right: 30px;
    }

    .holiMove {
        margin-left: -55px;
    }
}

/* For 1280x100 resolution */
@media screen and (min-width: 1280px) and (min-height: 100px) {
    .delIcon {
        //font-size: 20px;
        margin-top: -36px;
        margin-right: 23px;
    }

    .savefilenameBtn {
        margin-left: 134px;
        margin-bottom: 20px;
        bottom: 0;
    }

    .holiMove {
        margin-left: 20px;
    }
}

/* For 1280x100 resolution */
@media screen and (min-width: 1440px) and (min-height: 900px) {
    .savefilenameBtn {
        margin-right: 200px;
        margin-bottom: 20px;
        bottom: 0;
    }

    .holiMove {
        margin-left: 30px;
    }
}
.brwsebutton{
    background: #00498e;
    color: white;
    font-weight: 900;
    width: 150px;
    height: 40px;
    // margin-top: 20px;
    // margin-left: 105px;
    border: 2px solid #ffffff08;
    border-radius: 5px;
}
.calitem{
    position: absolute;
    cursor: pointer;
    right:10px;
}
//


//New design for Upload Img
.upload-container {
    width: 90%;
    margin-left: 15px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
  }
  
  .upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 2px dashed #e0e0e0;
    border-radius: 8px;
    //cursor: pointer;
  }
  
  .upload-content {
    text-align: center;
  }
  
  .upload-content i.material-icons {
    font-size: 30px;
    color: #888;
  }
  
  .upload-content p {
    font-size: 14px;
    //color: #888;
    color: #000000d1;
    padding-top: 10px;
    margin: 0;
  }
  
  .max-file-size-info {
    font-size: 14px;
    color: #999;
  }
  
  .uploaded-files {
    margin-top: 16px;
  }
  
  .uploaded-file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .file-info {
    display: flex;
    align-items: center;
  }
  
  .file-info i.material-icons {
    margin-right: 8px;
  }
  
  .file-actions button {
    margin-left: 8px;
  }
  
  button.mat-button {
    margin-top: 16px;
  }
  .pwdinfo {
      width: 20px;
      height: 20px;
      margin-top: -3px;
  }