.watermark,.watermark-left{
    margin: 40px;
}

.watermark{
    border: 1px solid #eee;
    min-height: 500px; 
}
.optiontwo{
    padding: 8px 17px 8px 17px;
}

.nameandlist {
    display: flex;
    width: 157%;
    justify-content: space-between;
    align-items: center;
}
.immigrationtxt {
    margin: 0; /* Remove default margin */
}

.pull-right {
    margin-left: 10px; /* Adjust the margin as needed */
}

/* Add margin between <p> and <mat-select> */
.immigrationtxt + .pull-right {
    margin-left: 20px; /* Adjust the margin as needed */
}

/* If you want to limit the width of the block, you can add a max-width */
.sharedgird {
    max-width: 600px; /* Adjust the max-width as needed */
    /* Add other styles as needed */
}
.sharedblock {
    background: #00b3a7;
    color: #fff;
    font-size: 20px;
    padding: 11px;
    font-weight: 600;
    padding-left: 26px;
}
.shardminus, .shardplus, .tog {
    padding-right: 8px;
    padding-top: 4px;
    font-weight: 100 !important;
    float: right;
    cursor: pointer;
}
.dopara {
    color: #00b3a7;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 28px;
}
#no-shared-msg{
    margin-top: 25px;
}
.sharedgreen {
    background: #057700;
    margin-bottom: 20px;
}
.sharedred {
    background: #b31c00;
    margin-bottom: 20px;
}
textarea#comment{
    background: #eeeeee;
}
.cswitch{
    float: right;
}


tr.veiw-items:hover {
    background:#003A5C;
    color:#fff;
    .actionbtn {
        background: #fff !important;
        color:#111;
        border: none;
        &:hover,:focus ,.show{
            //background: #00B3A7 !important;
        }
    }
    .actionbtn.show{
        //background: #00B3A7 !important;
    }
}
tr.veiw-items {

    li{
        height: 30px;
        line-height: 30px;
        a{
            height: 30px;
            line-height: 20px;
            &:hover{
                background: #01476f !important;
            }
        }
    }
    .custom-dropdown{
        inset: 0px auto auto -119px !important;
        background: #F0F0F0;
        padding: unset;
    }
}

// .savecls:hover{
//     background: #F0F0F0;
//     color: #01476f !important;
// }

/*
.excahnge{
text-align: left;
font: normal normal normal 32px/50px Gill Sans;
letter-spacing: 0px;
color: #00498E;
opacity: 1;
}

.docName{
top: 508px;
left: 135px;
width: 531px;
height: 36px;
text-align: left;
font: normal normal normal 32px/50px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;
}
*/

.btnsave:disabled,
.btnsave[disabled] {
    background: #004d87 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    border: none !important;
}

.btn-close {
    //top: 362px;
    width: 38px;
    height: 38px;
    opacity: 1;
    margin-left: 450px;
}

.alertbutton {
    padding-bottom: 22px;
}

.closeBtn {
    background-color: #fff;
}
.firms{
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    background: #00b3a7 !important;
    color: #fff;
  }
.matS{
    width: 100%;
}
.docName{
    display: inline-block;
    color: #00498ed9;
    font-weight: 900;
    font-size: 1.5rem;
}
.docmatter{
    font-weight: 900;
    font-size: 1.1rem;
}
.conf {
    font-weight: 900;
}

.immigrationtxt{
    display: flex;
    /* or display: grid; */
    align-items: center;
    /* Align items vertically in the center */
}

.matter-details{
    margin-left: 10px;
    margin-bottom: 1px;
}

.cswitch{
    //float: inherit !important;
    text-align: start;
}
.sortico{
    margin-left: 6px;
}
.exchange {
    text-align: left;
    //font: normal normal normal 32px/50px Gill Sans;
    letter-spacing: 0px;
    color: #00498E;
    font-weight: 900;
    font-size: 1.3rem;
    margin-top: 30px;
}
.profile {
    font-weight: 900;
    font-size: 1.2rem;
    color: #00b3a7 !important;
    //font-size: 1.2rem;
    //font-family: Gill Sans;
    //font: normal normal normal 20px Gill Sans;
}
.lable-size{
    color: #004D87;
    font-size: 16px;
    font-weight: 900;
}
.citizen{
    letter-spacing: 0px;
    color: #00498E;
    font-weight: 900;
    font-size: 1.3rem;
}
.clf{
    float: left;
}