/*
.btnsave:disabled,
.btnsave[disabled] {
    background: #004d87 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    border: none !important;
  }
  */

.btnsave:disabled,
.btnsave[disabled] {
  background: #004d87 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  border: none !important;
}

.btn-close {
  //top: 362px;
  width: 38px;
  height: 38px;
  opacity: 1;
  margin-left: 450px;
}

.labelaccess {
  display: inline-block;
  color: #004D87 !important;
  font-weight: 900;
  font-size: 1.3rem;
}

// .disabled {
//   pointer-events: none;
//   cursor: pointer;
//   opacity: 0.5; 
// }
.disabled {
  background: #a0bbd0;
  color: #fff;
}

.grpFont {
  font-size: 20px;
  font-weight: 800;
  font-variant: normal;
  color: #004d87 !important;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 20px;
}
//update

.editInfoModal1 .modal-content {
  position: relative;
  display: block;
  border: none;
  padding-bottom: 30px;
  // height: 600px;
  // width: 1200px;
  margin-top: 80px;
  .btn-close {
      float: right;
      margin: 10px;
  }
}
.groupContent{
  font-size: 16px;
  //font-weight: 800;
  word-break: break-word;
  //margin-left: 65px;
  margin-left: 4px;
  margin-bottom: 15px;
}

.updateGroup{
  font-size: 1.3rem;
  font-weight: 900;
  color: #004D87;
  //margin-left: 65px;
  margin-left: 4px;
  margin-bottom: 12px;
}

.listedGroup{
  font-size: 1.3rem;
  font-weight: 900;
  color: #004D87;
  margin-left: 4px;
  margin-bottom: 12px;
}

.bordo{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.circlemark{
  font-size: 20px;
  color: red;
  margin-top: 6px;
  font-weight: 400;
}
.dialogbtn{
  margin-top: 50px;
  margin-left: 120px;
}
.searchtext::placeholder{
  //background: #fff !important;
  color: #004D87 !important;
  font-weight: 900;
}
.alertbutton{
  text-align: center;
  padding-bottom: 10px;
  margin-top: -30px;
  margin-left: 15px;
}
.selectedone{
  margin-top:125px !important;
}
.selectedone .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.selectedone .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
