// component css goes here
i.fa.fa-paper-plane {
    font-size: 40px;
    margin-top: 15px;
    margin-left: 15px;
    color: #004d87;
}
.row.meetingcontainer.legalboxleft.container.msgcontainerchat {
    height: 70px;
}

.username.msglisa {
    margin-top: 15px;
}