// .error-msg {
//     color: #a94442;
//   }
//   .fix-error-icon {
//     top: 27px;
//   }
//   .control-label.required:after { 
//     color: #d00;
//     content: "*";
//     position: absolute;
//     margin-left: 5px;
//     top:7px;
//   }
.lable-size {
  font-size: 20px;
  font-weight: 900;
  color: #004d87;
}
.createGroup{
  input,textarea{
      background: #EEEEEE;
      border: none;
  }
}
.nameSet{
  width:90%;
}
.createMembers {
  width: 90%;
  margin: 0 auto;

  .text-center {
    text-align: center;
    padding: 10px 50px;
  }

  .btn-top {
    padding: 10px 30px;
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #111;
    font-weight: 700;
    font-size: 20px
  }

  .btn-top:hover,
  .btn-top.active {
    background: #00B3A7;
    color: #fff;
    font-size: 100;
  }

  .border-styles {
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 5px;

    margin: 20px;
  }

  .btn-bottom {
    background: #f5f5f5;
    color: #111;
    border-color: #f5f5f5;
    font-weight: 700;
    font-size: 20px
  }

  .btn-bottom:hover,
  .btn-bottom.active {
    background: #00B3A7;
    color: #fff;
    font-size: 100;

  }

  .ms-4 {
    margin-left: 10.5rem !important;
  }

  // .lable-size{
  //     font-size: 19px;
  // }
  div.text-bottom,
  .lable-size {
    font-size: 19px;
    font-weight: bold;
    color: #437CA7;
  }

  .lable-size1 {
    font-size: 22px;
    font-weight: bold;
    color: #437CA7;
  }

  // .errorMsg {
  //   // margin-bottom: 40px;
  // }

  .member-name-text {
    background-color: #e8e8e8;
    // margin-top: 20px;
    height: 50px;
    font-size: 22px;
    // margin-bottom: 40px;
  }

  .member-name-text1 {
    background-color: #e8e8e8;
    height: 50px;
    font-size: 22px;
    // width: 265px;
    // margin-bottom: 40px;
  }

  .text-rate {
    border-radius: 5px;
    height: 50px;
    // width: 265px;
    padding: 16px;
  }


  .Advocate {
    font-size: 25px;
    color: #437CA7;
    font-weight: 100;

    .btn {
      float: right;
    }
  }

  .button-left {
    background: #f5f5f5;
    color: #111;
    border-color: #f5f5f5;
  }

  .btn-align {
    text-align: center;

    .btn-lg {
      width: 20%;
    }
  }

  .selectT {
    background-color: #e8e8e8;
    font-size: 20px;
    padding: 16px 10px;
    border-radius: 8px;
    margin-top: 30px;
  }

  .text-area-height {
    height: 100px;
  }

  .select-all-align {
    width: 30%;

    float: right;
  }

  .text-size {
    font-size: 17px !important;
    // border: none;
    background-color: #e8e8e8;
    // margin-bottom: 40px;
  }

  .checkbox1 {
    float: right;
    height: 30px;
    width: 50px;
    // background-color: #fff;

  }

  .selectCheck {
    width: 140px;
    //float: right;
    background-color: #e8e8e8;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;
  }

  .btnPad {
    padding: 10px 30px;
    background-color: #e8e8e8;
    color: black;
    border-color: #e8e8e8;
  }

  .btnPad1 {
    padding: 10px 35px;
    background-color: #004D87;
    color: #fff;
  }

}

.margin-div {
  margin-bottom: 20px;
}

.input-bg {
  background: #eeeeee;
  border: none;
}

.input-height {
  height: 50px;
}

.input-check {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

.group-label {
  width: 97%;
  line-height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

.select-all {
  width: 100%;
}

.input-select-all {
  margin: 10px 0 0 10px;
  position: inherit;
}

.label-width {
  width: auto;
}
.nameSet {
    width: 90%;
}

.createGroup {

    input,
    textarea {
        background: #EEEEEE;
        border: none;
    }

    .group-custom-align {
        width: 41%;
        margin: 0 auto;
        margin-top:5px;
    }
    .multicheck{
        text-align: left;
    }
}
.round-icon {
    text-align:center;
}
.stepone{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
    width: 35px;
    height: 35px;
}
.steprow{
    margin-bottom: 10px;
}
.btnsave{
    margin-left: 20px;
}
.btncancel{
  margin-left: 10px;
}
.remBtn{
  margin-top: 10px;
  margin-left: 460px;
}
.invalid-feedback{
  color:#ff0019;
  font-size:15px;
}
.ptext{
  font-weight: 900;
}