// component css goes here
.nameSet {
    width: 90%;
}
span.input-group-btn {
    background: inherit !important;
}
.datepik{
    margin-left:10px;font-size: 20px;
}
.createGroup {

    select,
    input,
    textarea {
        background: #EEEEEE;
        border: none;
        //margin-right: 10px;
    }

    .group-custom-align {
        width: 41%;
        margin: 0 auto;
        margin-top: 5px;
    }

    .multicheck {
        text-align: left;
    }
}

.round-icon {
    text-align: center;
}

.stepone {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
}

.steprow {
    margin-bottom: 10px;
}

.btncancel,
.btnsave {
    margin-left: 20px;
}

.hide {
    display: none;
}

.btnsave {
    margin-left: 0px;
    margin-top: 10px;
}

.Individual {
    width: unset;
}

.audit-head {
    color: #004D87;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

label.lable-size {
    color: #004D87;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label.lable-size.advance {
    font-size: 20px;
    margin-top: 10px;
}

tbody tr:nth-child(odd) {
    background: #EEEEEE;
}

tbody tr:nth-child(even) {
    background: #FFF;
}
pagination-controls {
    text-align: end;
}
.checkbox {
    height:30px;
    display:flex;
    justify-content: left;
}

input.larger {
    margin: 0 10px;
    height: 23px;
    top: -10%;
    right: -3px;

    margin-top: 3px;
    width: 12px;
    margin-left: 12px !important;
}
.noData{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
i.fa.fa-light.fa-calendar-days {
    font-size: 25px;
}
.input-group {
    margin-top: 18px;
}
#calo{
    margin-top: 20px;
}
select {
    -webkit-appearance: listbox !important;
}

.dropdown-toggle.actionbtn {
    width: 95%;
    text-align: left;
    box-shadow: none !important;
    background: #EEEEEE 0% 0% no-repeat padding-box;
}

.custom-dropdown a {
    height: 30px;
    line-height: 20px;
    display: block;
    padding: 5px 10px;
}

.dropdown-menu {
    width: 90% !important;
    border-bottom: 1px solid #e3e3e3;
    background: #eeeeee;
}

.custom-dropdown a:hover {
    background-color: #00b3a7 !important;
    color: white !important;
}

.btn.active,
.btn.show,
.btn:active {
    color: black !important;
    border-color: #EEEEEE !important;
    outline: #EEEEEE !important;
    box-shadow: #EEEEEE !important;
}

.custom-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  

  
