// component css goes here

.nameSet {
    width: 90%;
}



input,
textarea {
    background: #EEEEEE;
    border: none;
}

.group-custom-align {
    width: 41%;
    margin: 0 auto;
    margin-top: 5px;
}

.multicheck {
    text-align: left;
}


/*
    .lable-title-size{
        font-size: 32px;
        font-weight: bold;
        color: #437CA7;
    }
    */
.lable-size {
    font-size: 20px;
    font-weight: bold;
    color: #437CA7;
}

.update-group {
    text-align: center;
    margin-bottom: 50px;
}

.multicheck {
    cursor: pointer;
}

.update {
    color: #004d87;
    font-weight: 800;
    font-size: 1.4rem;
}

.remBtn {
    margin-top: 10px;
    margin-left: 460px;
}
.btnsave:disabled {
    opacity: 0.5;
    color: white;
    background: #004D87;
    pointer-events: none;
}
.alertparatxt{
    font-weight: 900;
    font-size: 1.6rem;
    padding-top: 0px !important;
}
.assign2{
    color: #004d87;
    font-weight: 900;
    font-size: 1.2rem;
}
.btnbox{
    margin-left: 80px;
}