// component css goes here
.watermark,
.watermark-left {
  //margin: 40px;
  margin: 10px;
}

.watermark {
  border: 2px solid #eee;
  border-radius: 2px;
  min-height: 500px;
}

.btn-browse {
  width: 150px;
  background: #004D87
}

::file-selector-button {
  display: none;
}

.alertparatxt {
  color: #004d87;
  margin-top: -20px;
  font-family: sans-serif;
}

.bolText {
  font-family: 800;
}

.disabled {
  background: #a0bbd0;
  color: #fff;
}

.spf {
  font-weight: 900;
}

.docview {
  color: #004D87;
  font-weight: 900;
  font-size: 1rem;
  margin-left: 11px;
  margin-top: 12px;
  margin-bottom: -5px;
}
.fontweight{
  font-size: 1.2rem;
}
.alertext{
  font-weight: 900;
}
.alertbtn{
  width: 55px;
  margin-right: 18px;
}
.alertbutton{
  margin-bottom: 20px;
}
.okbtn{
  background-color: #004D87;
}