fieldset {
    overflow: hidden
}

.some-class {
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
     padding: 0px 9.19em 0px 8px;

}
.fontbold {
    color: #004d87;
    padding-left: 2px;
}
.compswitch{
    padding-top: unset;
}
.remainPading{
    padding-right: 2em;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}