.content-box {
    overflow-x: hidden;
}
.side-nav-back{
    background-color: #F5F5F5;
}
.left-menu-icon.active .iconlink {
    background: #00b3a7;
    color: #fff;
}

.mattersicon {
    height: 30px;
}

#dashboard-icon {
    cursor: pointer;
}

p.username {
    cursor: pointer;
}

.side-nav-custom {
 .col-1 {
    width: 5.5% !important;
}
.col-11 {
    width: 94.5% !important;
}
// .content-box1{
//     width: 90%;
//     margin: 0 auto;
// }
}
label {
    font-size: 14px;
}

.logoPad {
    //padding-bottom: 20px;
    width: 55px;
}

.logoicono {
    width: 51px;
}

.logo_icox {
    text-align: center;
    display: inline-block;
    width: 70px;
    background: #f5f5f5;
    padding-top: 12px;
    padding-bottom: 14px;
}

.left-menu-icon.active img {
    filter: brightness(0) invert(1); /* Highlight the image */
}
