// component css goes here
.no-radius{
	border-radius: 0px;
}

tr.veiw-items:hover {
    background:#003A5C;
    color:#fff;
    .actionbtn {
        background: #fff !important;
        color:#111;
        border: none;
        &:hover,:focus ,.show{
            //background: #00B3A7 !important;
        }
    }
    .actionbtn.show{
        //background: #00B3A7 !important;
    }
}
tr.veiw-items {

    li{
        height: 30px;
        line-height: 30px;
        a{
            height: 30px;
            line-height: 20px;
            &:hover{
                background: #01476f !important;
            }
        }
    }
    .custom-dropdown{
        inset: 0px auto auto -119px !important;
        background: #F0F0F0;
        padding: unset;
    }
}

.borderPix{
    border-radius: 8px;
}
.alertbutton{
    text-align: center;
    padding-bottom: 10px;
    margin-top: -30px;
    margin-left: 15px;
}
.closebtn{
    margin-left: 460px;
    margin-top: 10px;
}
.modal-content{
    margin-top: 70px;
}
.sortico{
    margin-left: 6px;
}
.norel{
    text-align: center;
    margin-top: 100px;
    color: #004D87;
    font-size: 1.2rem;
    font-weight: 900;
}

//view table style
.tabclass {
    border: 2px solid #eeeeee;
}

tr.veiw-items:hover .tabclass {
    border: none !important;
}

tr.veiw-items:hover {
    background: #003A5C;
    color: #fff;

    .actionbtn {
        background: #fff !important;
        color: #111;
        border: none;
    }
}