// component css goes here
.fa{
    padding: 0 10px;
}
.opponent {
    padding: 0 10px;
    margin-top: 10px;
    line-height: 40px;
    height: 40px;
    //background: #00b3a7;
    background:#eeeeee;
    width: fit-content;
}
.btnfile{
    background: #004d87 0% 0% no-repeat padding-box;
}
.active{
    background:#eeeeee;
}

.savecls{
    background: #00b3a7 !important;
}
.xgrp{
    color: #ff0000;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
    color: #717171;
    opacity: 1;
  }

  .flex-container {
    display: flex;
    flex-flow: wrap;
    //width: 750px;
    align-items: stretch;
}

.flex-container > div {
    width: auto;
    //cursor: pointer;
    margin: 10px;
    text-align: start;
}
.disabled-icon {
    pointer-events: none;
    opacity: 0.5;
}
