.nameSet {
    width: 90%;
}

.createGroup {

    input,
    textarea {
        background: #EEEEEE;
        border: none;
    }

    .group-custom-align {
        width: 41%;
        margin: 0 auto;
        margin-top:5px;
    }
    .multicheck{
        text-align: left;
    }
}
.round-icon {
    text-align:center;
}
.stepone{
text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
}
.steprow{
    margin-bottom: 10px;
}
.btncancel, .btnsave{
    margin-left: 20px;
}
.hide{
    display: none;
}
.btnsave{
    margin-left: 0px;
    margin-top: 10px;
}
.update{
    color: #004D87;
    font-weight: 900;
    font-size: 1.2rem;
  }
  .lable-size{
    font-size: 20px;
    font-weight: bold;
    color: #004D87;
}
.element {
    max-width: fit-content;
    // margin-left: auto;
    // margin-right: auto;
    font-size: 1.4rem;
    font-weight: 900;
    color: #004D87;
    padding-bottom: 16px;
}
.padBot{
    padding-bottom: 10px;
}
// .searchimg{
//     width: 18px;
//     margin-top: -27px;
//     margin-right: 215px;
// }