// component css goes here
.grpFont{
    font-size: 20px;
    font-weight: 900;
    font-variant: normal;
    color: #004d87;
    display: inline-block;
}
.labelStyle{
    width: auto;
    height: 30px;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.case_title {
    text-align: left;
    letter-spacing: 0px;
    color: #004d87;
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 5px;
}
.optionhigh2{
   border-radius: 5px 5px 5px 5px;
}
.disabled {
    background: #a0bbd0;
    color: #fff;
}
.editInfoModal1 .modal-content {
    position: relative;
    display: block;
    border: none;
    padding-bottom: 30px;
    // height: 600px;
    // width: 1200px;
    margin-top: 80px;
    .btn-close {
        float: right;
        margin: 10px;
    }
}
.groupContent{
    font-size: 16px;
    //font-weight: 800;
    word-break: break-word;
    //margin-left: 65px;
    margin-left: 4px;
    margin-bottom: 15px;
}

.updateGroup{
    font-size: 1.3rem;
    font-weight: 900;
    color: #004D87;
    //margin-left: 65px;
    margin-left: 4px;
    margin-bottom: 12px;
}

.listedGroup{
    font-size: 1.3rem;
    font-weight: 900;
    color: #004D87;
    margin-left: 4px;
    margin-bottom: 12px;
}

.bordo{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.circlemark{
    font-size: 20px;
    color: red;
    margin-top: 6px;
    font-weight: 400;
}
.dialogbtn{
    margin-top: 50px;
    margin-left: 120px;
}
.searchtext::placeholder{
    //background: #fff !important;
    color: #004D87 !important;
    font-weight: 900;
}
.searchtextcr::placeholder{
    //background: #fff !important;
    color: #000 !important;
    font-weight: 900;
}
.btnsave:disabled,
.btnsave[disabled] {
  background: #004d87 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  border: none !important;
}
.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

.mailoption {
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    color: #004D87;
    margin-left: 170px;
}

.hello {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.5);
}

.closeDialog {
    float: right;
}
.closeBtn {
    font-size: 20px;
}
.gImg {
    width: 70px;
    height: 70px;
}
.oImg {
    width: 70px;
    height: 70px;
}

.savefilenameBtn {
    margin-left: 185px;
    position: fixed;
    position: absolute;
    margin-bottom: 20px;
}
.overviewSave {
    float: right;
    margin-bottom: -10px;
}

.savefile{
    font-size: 18px;
    font-weight: 500;
    font-family: "Gill Sans";
    height: 43px;
    background: #004d87 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    border: none !important;
}
.alertxt{
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 300;
    color: black;
    margin-left: 20px;
    padding: 10px;
}
.casetito {
    cursor: pointer;
    height: auto;
    width: 230px;
}
.textAl {
    text-align: start;
    margin-top: 3px;
}
.selAl {
    text-align: start;
    margin-top: 3px;
    margin-right: 60px;
}
.selOn{
    margin-left: -55px;
    text-align: end;
}
.checkAll{
    font-size: 1rem;
    font-weight: 900;
}
/* styling for disabled buttons */
button.grpBtn:disabled {
    background-color: #d3d3d3; 
    background: #004d87 0% 0% no-repeat padding-box;
    color: #fff;
    opacity: 0.5; 
    pointer-events: none; 
    cursor: not-allowed;
}
.lop{
    font-size: 20px;
    font-weight: 900;
    margin-top: -30px !important;
    text-align: end;
    font-variant: normal;
    display: inline-block;
    text-align: right;
    float: right;
}
.selectprior{
    margin-top: 0px;
}
.selectedone{
    margin-top:86px !important;
}
.selectedone .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.selectedone .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}