<!--component html goes here -->
 <!-- table grid -->
 <div class="row main " 
      *ngIf="!editMember&& !editGroupHead && !DeleteGroup && !editGroupShow && !showActivityLog">
    <div class="row main width-alignment">
        <div class="col-4"> </div>
        <div class="col-6">
                <div class="form-group name-set">
                  <div class="input-group group-custom-align court" id="search">
                    <input type="text" *ngIf="product != 'corporate'"
                            class="form-control textbox"
                            placeholder="Search Group" [(ngModel)]="searchText" 
                            oninput="this.value = this.value.replace(/[^A-Za-z0-9 _+&@.,]|^ /g,'')"/>

                    <input type="text" *ngIf="product == 'corporate'"
                            class="form-control textbox"
                            placeholder="Search Departments"
                            [(ngModel)]="searchText" />
                            
                    <img src="assets/img/search.svg"
                    class="calimg calitem input-group-append searchimg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 gridtable width-alignment">
      <table class="table table-borderless tblgrid">
        <thead>
          <tr class="theader">
            <th>
              <p class="thheadname" *ngIf="product != 'corporate'"> Group Name</p>
              <p class="thheadname" *ngIf="product == 'corporate'"> Departments Name</p>
              <img src="assets/img/SORT.PNG" class="sortico" (click)="sort('name')">
            </th>
            <th>
              <p class="thheadname"> Description</p>
              <img src="assets/img/SORT.PNG" class="sortico" (click)="sort('description')">
            </th>
            <th>
              <p class="thheadname" *ngIf="product != 'corporate'"> Group Head</p>
              <p class="thheadname" *ngIf="product == 'corporate'"> Department Head</p>
              <img src="assets/img/SORT.PNG" class="sortico" (click)="sort('name')">
            </th>
            <th>
              <p class="thheadname"> Created</p>
              <img src="assets/img/SORT.PNG" class="sortico" (click)="sort('timestamp')">
            </th>
            <th>
              <p class="thheadname"> Number of Members</p>
              <img src="assets/img/SORT.PNG" class="sortico" (click)="sort('memberCount')">
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="rone veiw-items"
              *ngFor="let team of viewItems | filter:searchText"
              [ngClass]="{'rtwo': team.name == highlight }">
            <td class="tabclass">{{team.name}}</td>
            <td class="tabclass">&nbsp;{{team.description}}</td>
            <td class="tabclass">&nbsp;{{team.groupHead.name}}</td>
            <td class="tabclass">&nbsp;{{team.created}}</td>
            <td class="tabclass" style="font-size: 1.8rem">&nbsp;{{team.memberCount}}</td>
            <td class="tabclass">
              <div class="dropdown" *ngIf="product != 'connect' || roleId == 'GH'">
                <button type="button"
                        class="btn btn-primary  dropdown-toggle actionbtn"
                        data-bs-toggle="dropdown" [ngClass]="{'disabled': team.isdisabled}"> Action </button>
                <ul class="dropdown-menu custom-dropdown">
                    <li *ngIf="team.name != 'AAM' && team.name != 'SuperUser'">
                        <a class="dropdown-item" (click)="editGroup(team)" *ngIf="product != 'corporate'">Edit Group Info</a>
                        <a class="dropdown-item" (click)="editGroup(team)" *ngIf="product == 'corporate'">Edit Department Info</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="editGroupMembers(team)" *ngIf="product != 'corporate'">Update Group Members List</a>
                        <a class="dropdown-item" (click)="editGroupMembers(team)" *ngIf="product == 'corporate'">Update Team Members List</a>
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="changePracticeHead(team)" *ngIf="product != 'corporate'">Update Group Head</a>
                        <a class="dropdown-item" (click)="changePracticeHead(team)" *ngIf="product == 'corporate'">Update Department Head</a>
                      </li>
                  <li *ngIf="team.name != 'AAM' && team.name != 'SuperUser'">
                    <a class="dropdown-item" (click)="deleteGroup(team)" *ngIf="product != 'corporate'">Delete Group</a>
                    <a class="dropdown-item" (click)="deleteGroup(team)" *ngIf="product == 'corporate'">Delete Department</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="activityLog(team)" *ngIf="product != 'corporate'">Group Activity Log</a>
                    <a class="dropdown-item" (click)="activityLog(team)" *ngIf="product == 'corporate'">Department Activity Log</a>
                  </li>
                </ul>
              </div>


              <div class="dropdown" *ngIf="product == 'connect'">
                <button type="button" *ngIf="roleId != 'GH'" class="btn btn-primary  dropdown-toggle actionbtn"
                  data-bs-toggle="dropdown"> Action </button>
                <ul class="dropdown-menu custom-dropdown">
                  <li>
                    <a class="dropdown-item" (click)="editGroupMembers(team)">Update Group Members List</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="changePracticeHead(team)">Update Group Head</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="activityLog(team)">Group Activity Log</a>
                  </li>
                </ul>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- grid ends here -->

  <div *ngIf="editGroupShow" class="container main width-alignment">
    <!-- <div *ngIf="successMsg">{{successMsg}}</div> -->
    <div class="col-12 Individual createGroup">
      <div class="update">Edit Group Info</div>
        <form [formGroup]="editGroupform" (ngSubmit)="onSubmit()">
            <div class="row"> <!--*ngIf="product != 'corporate'"-->
                <div class="col-6" *ngIf="product != 'corporate'">
                    <div class="form-group nameSet">
                        <label for="title" class="lable-size">Group Name <span class="mandate">*</span></label>
                        <input type="text"
                               formControlName="name"
                               class="text-size form-control group-name-text"
                               [(ngModel)]="editGroupView.name"
                               [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="caseTitle"
                               name="name"
                               (input)="onSearchChange();restricttextSpace($event)">
                        <div style="color: red;font-size: .875em;" *ngIf="error">{{error}}</div>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Group Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-6" *ngIf="product == 'corporate'">
                  <div class="form-group nameSet">
                      <label for="title" class="lable-size">Department Name <span class="mandate">*</span></label>
                      <input type="text"
                             formControlName="name"
                             class="text-size form-control group-name-text"
                             [(ngModel)]="editGroupView.name"
                             [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="caseTitle"
                             (input)="onSearchChange();restricttextSpace($event)" name="name">
                      <div style="color: red;font-size: .875em;" *ngIf="error">{{error}}</div>       
                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Department Name is required</div>
                      </div>
                  </div>
              </div>

                <div class="col-6">
                    <div class="form-group nameSet">
                        <label for="comment" class="lable-size">Description <span class="mandate">*</span></label>
                        <textarea formControlName="description"
                                  class="form-control text-size text-area-height"
                                  [(ngModel)]="editGroupView.description"
                                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                                  (input)="restricttextSpace($event)"
                                  name="description"></textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnbox">
                <button type="button" class="btn btn-default btncancel" (click)="onReset()">Cancel</button>
                <button type="submit" class="btn btn-default btnsave" 
                [disabled]="editGroupform.pristine || editGroupform.invalid">Save</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="editMember">
  <edit-members (event)='onChildEvent($event)' [editMember]="editData"></edit-members>
</div>
<div *ngIf="editGroupHead">
  <edit-group-head (event)='onChildEvent($event)' [groupData]="editData" ></edit-group-head>
</div>
<div *ngIf="DeleteGroup">
  <delete-group (event)='onChildEvent($event)' [data]="editData"></delete-group>
</div>
<group-activity-log *ngIf="showActivityLog"
                    (event)='onChildEvent($event)'
                    [data]="editData"></group-activity-log>
<jw-modal id="group-del-success" class="grp-del-success  alert-box">
    <div class="doc-iframe-scs-body ">
        <div class="container">
            <div class="row">
                <div class="alertbox">
                    <div class="close-x float-right" (click)="closeModal('group-del-success');">X</div>
                    <div class="alertpara">
                        <p class="alertparatxt"> Success</p>
                    </div>
                    <div class="alertext">Congratulations!! <br> You have successfully deleted <b>{{selectedGrpName}}</b>.
                    </div>   
                    <div class="center">
                      <button class="btn savecls" (click)="closeModal('group-del-success')">OK</button>
                  </div>                
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="group-gh-success" class="grp-gh-success  alert-box">
    <div class="doc-iframe-scs-body ">
        <div class="container">
            <div class="row">
                <div class="alertbox">
                    <div class="close-x float-right" (click)="closeModal('group-gh-success');">X</div>
                    <div class="alertpara">
                        <p class="alertparatxt"> Success</p>
                    </div>
                    <div class="alertext" *ngIf="product != 'corporate'">Congratulations!! You have successfully updated the Group Head of <b>{{selectedGrpName}}</b> Group.</div> 
                    <div class="alertext" *ngIf="product == 'corporate'">Congratulations!! You have successfully updated the Department Head of <b>{{selectedGrpName}}</b> Department.</div>   
                    <div class="center">
                      <button class="btn savecls" (click)="closeModal('group-gh-success')">OK</button>
                  </div>                  
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="group-upmem-success" class="grp-upmem-success  alert-box">
    <div class="doc-iframe-scs-body ">
        <div class="container">
            <div class="row">
                <div class="alertbox">
                    <div class="close-x float-right" (click)="closeModal('group-upmem-success');">X</div>
                    <div class="alertpara">
                        <p class="alertparatxt"> Success</p>
                    </div>
                    <div class="alertext" *ngIf="product != 'corporate'">Congratulations!! <br>You have successfully updated group members list of <b>{{selectedGrpName}}</b> group.</div>
                    <div class="alertext" *ngIf="product == 'corporate'">Congratulations!! <br>You have successfully updated department members list of <b>{{selectedGrpName}}</b> department.</div>
                    <div class="center">
                      <button class="btn savecls" (click)="closeModal('group-upmem-success')">OK</button>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="group-update-success" class="grp-update-success  alert-box">
    <div class="doc-iframe-scs-body ">
        <div class="container">
            <div class="row">
                <div class="alertbox">
                    <div class="close-x float-right" (click)="closeModal('group-update-success');">X</div>
                    <div class="alertpara">
                        <p class="alertparatxt"> Success</p>
                    </div>
                    <div class="alertext conf" *ngIf="product != 'corporate'">Congratulations!! You have successfully updated Group information.</div> 
                    <div class="alertext conf" *ngIf="product == 'corporate'">Congratulations!! You have successfully updated Department information.</div>  
                    <div class="center">
                      <button class="btn savecls" (click)="closeModal('group-update-success')">OK</button>
                  </div>                 
                </div>
            </div>
        </div>
    </div>
</jw-modal>

<!-- Confirmation Modal -->
<div class="modal fade" id="modalCancel" tabindex="-1" aria-labelledby="modalCancelLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="btn-close remBtn" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-body">
				<div class="alertpara"><p class="alertparatxt">Alert</p></div>
			</div>
			<div class="alertext conf">Changes you made will not be saved. <br>Do you want to continue?</div>
			<div class="alertbutton">
				<button class="btn btn-default alertbtn alertbtnno" data-bs-dismiss="modal" aria-label="Close">No</button>
				<button class="btn btn-default alertbtn alertbtnyes" data-bs-dismiss="modal" aria-label="Close" (click)="closeDialog()">Yes</button>
			</div>
		</div>
	</div>
</div>