.lable-size {
    font-size: 19px;
    font-weight: bold;
    color: #004D87;
}

.createGroup {

    input,
    textarea {
        background: #EEEEEE;
        border: none;
    }
}

.nameSet {
    width: 90%;
}


.width-alignment {
    max-width: 90%;
    margin: 0 auto;
}

.tabclass {
    border: 2px solid #eeeeee;
    position: relative;
    padding: 10px;
    text-align: left;
}
/* added vertical dashed line to all td */
.tabclass:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0;
    width: 0.5px;
    background: repeating-linear-gradient(
      to bottom,
      #2b2b2b, /* Line color */
      #2b2b2b 4px,
      transparent 4px,
      transparent 8px
    ); /* Dashed effect */
}
  
tr.veiw-items:hover .tabclass {
    border: none !important;
}
tr.veiw-items:hover .tabclass:not(:last-child)::after {
    background: repeating-linear-gradient(
      to bottom,
      #fff, /* Hover Line color */
      #fff 4px,
      transparent 4px,
      transparent 8px
    );
}

tr.veiw-items:hover {
    background: #003A5C;
    color: #fff;

    .actionbtn {
        background: #fff !important;
        color: #111;
        border: none;
        &:hover,:focus,.show {
            background: #00B3A7 !important;
            color:#fff;
        }
    }

    .actionbtn.show {
        background: #00B3A7 !important;
        color:#fff;
    }
}

tr.veiw-items {

    li {
        height: 30px;
        line-height: 30px;

        a {
            height: 30px;
            line-height: 20px;

            &:hover {
                background: #00B3A7 !important;
            }
        }
    }

    .custom-dropdown {
        inset: 0px auto auto -119px !important;
        background: #F0F0F0;
        padding: unset;
        cursor: pointer;
        //text-align: end;
    }
}
.savecls{
    color: white;
    background: #004D87;
}
.btnsave:disabled {
    opacity: 0.5;
    color: white;
    background: #004D87;
    pointer-events: none;
}
.conf{
    font-weight: 900;
}
.alertparatxt{
    font-weight: 900;
    font-size: 1.6rem;
    padding-top: 0px !important;
}
.update {
    color: #004d87;
    font-weight: 800;
    font-size: 1.3rem;
}

.invalid-feedback {
    color: red;
}

.modal-content {
    width: 80% !important;
    margin-left: 80px !important;
}

.remBtn {
    margin-top: 10px;
    //margin-left: 460px;
    margin-left: 360px;
}

.alertbutton {
    padding-bottom: 10px;
}